body {
    background-image: url("./images/table.png");
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    min-width: 0;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016F32;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 0 5px 0;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    margin: 2px;
}